apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: gamehub
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: auth-service
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: gamehub
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: user-service
---
apiVersion: v1
kind: Service
metadata:
  name: score-service
  namespace: gamehub
  labels:
    app: score-service
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: score-service
---
apiVersion: v1
kind: Service
metadata:
  name: ranking-service
  namespace: gamehub
  labels:
    app: ranking-service
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  selector:
    app: ranking-service
---
apiVersion: v1
kind: Service
metadata:
  name: game-catalog-service
  namespace: gamehub
  labels:
    app: game-catalog-service
spec:
  type: ClusterIP
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    app: game-catalog-service
